<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<div th:fragment="content" class="modal fade text-center" id="addProductModal">
    <div class="modal-dialog" style="max-width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Add Product</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body p-4">
                <iframe class="w-100" style="height: 500px; border: none;"  src="">
                </iframe>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>