<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Manage Order', 'none')">
</head>

<body>
<!-- nav bar-->
<div th:replace="navigation :: menu"></div>
<div>
    <div class="container-fluid">
        <div>
            <div class="pb-3">
                <h1> Orders For Shipper</h1>
            </div>
        </div>

        <div >
            <th:block th:each="order : ${listOrders}">
                <div class="row m-1">
                    <div class="card">
                        <div class="card-header">
                            <span>Order ID #[[${order.id}]]</span>
                        </div>
                        <div class="card-body">
                            <span>cdcfdf</span>
                        </div>

                    </div>

                </div>

            </th:block>
        </div>


        <!-- search form and message-->
        <div th:replace="fragments :: search_form_and_message('/orders/page/1')"></div>

        <div th:replace="fragments :: pagination('/orders')"></div>

    </div>

    <div class="modal fade" id="orderDetailModal">
        <div class="modal-dialog modal-xl bg-white">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div th:replace="modal_fragments :: confirm_modal"></div>
    <div th:replace="fragments :: footer"></div>

    <script th:src="@{/js/common_list.js}"></script>
</div>
<!-- Body -->

<script>
    moduleUrl = "[[@{/orders}]]";
    $(document).ready(function() {
        handleLinkViewOrderDetails();
    });

    function handleLinkViewOrderDetails() {
        $(".linkOrderDetail").on("click", function (e) {
            e.preventDefault();
            linkDetailUrl = $(this).attr("href");
            $("#orderDetailModal").modal('show').find(".modal-content").load(linkDetailUrl);
        });
    }



</script>

</body>

</html>
