<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')">
</head>

<body>

<!-- nav bar -->
<div th:replace="navigation :: menu"></div>

<!-- body -->
<div class="container-fluid">

    <div>
        <h1>Manage order | [[${pageTitle}]] </h1>
    </div>

    <!-- form order  -->
    <div>
        <form th:action="@{/orders/save}" th:object="${order}" method="post"
              onsubmit="return processFormBeforeSubmit();"
              style="max-width: 800px; margin: 0 auto;">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview" type="button"
                                role="tab">Overview
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#products" type="button"
                                role="tab">Products
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" type="button"
                                role="tab">Shipping
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#orderTrack" type="button"
                                role="tab">Track
                        </button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                        <div th:replace="orders/order_form_overview :: content"></div>
                    </div>

                    <div class="tab-pane p-3" id="products" role="tabpanel" aria-labelledby="products-tab">
                        <div th:replace="orders/order_form_product :: content"></div>
                    </div>

                    <div class="tab-pane p-3" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                        <div th:replace="orders/order_form_shipping :: content">
                        </div>
                    </div>

                    <div class="tab-pane p-3" id="orderTrack" role="tabpanel" aria-labelledby="track-tab">
                        <div th:replace="orders/order_form_tracks :: content"></div>
                    </div>
                </div>
            </div>

            <div>
                <p class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary m-3">
                    <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
                </p>
            </div>
        </form>

    </div>

    <!-- Model dialog duplicated -->
    <div th:replace="modal_fragments :: modal_dialog"></div>
    <div th:replace="orders/add_product_modal :: content"></div>
    <!-- footer -->
    <div th:replace="fragments :: footer"></div>

    <!-- redirect cancel btn to /orders -->
    <script type="text/javascript">
        moduleUrl = "[[@{/orders}]]";
        contextPath = "[[@{/}]]";
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";

        $(document).ready(function () {
            $("#buttonCancel").click(function () {
                window.location = moduleUrl;
            });
        });
    </script>
    <script th:src="@{/js/common_form.js}"></script>
    <script th:src="@{/js/order_form_overview_product.js}"></script>
    <script th:src="@{/js/common_form_country_state.js}"></script>
    <script th:src="@{/js/add_a_product_in_order_form.js}"></script>
    <script th:src="@{/js/delete_product_from_a_order.js}"></script>
    <script th:src="@{/js/order_form_track.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-number@2.1.6/jquery.number.min.js"></script>
</body>

</html>
