<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Search Product', 'none')">
</head>
<body>
<div class="container-fluid">
    <div class="d-flex float-start  py-3 px-4">
        <form th:action="@{/orders/search_product}" method="post" class="form-inline align-items-center">
            <div class="input-group">
                <input type="search" required class="form-control me-3" name="keyWord" placeholder="Product Name" />
                <button type="submit" class="btn btn-outline-success">Search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <th:block th:each="product : ${listProducts}">
            <input type="hidden" name="productId" th:value="${product.id}" class="hiddenProductId">
            <div class="col">
                <div>
                    <a href="" class="linkProduct" th:pid="${product.id}">
                        <img th:src="@{${product.mainImagePath}}" height="150">
                        <br/>
                        <b th:pid="'pname' + ${product.id}">[[${product.shortName}]]</b>
                    </a>

                </div>
            </div>
        </th:block>
    </div>

    <div th:replace="fragments :: pagination('/orders/search_product')"></div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        handlerLinkProduct();
    });

    function handlerLinkProduct() {
        $(".linkProduct").on("click", function(e) {
            e.preventDefault();
            productId = $(this).attr("pid");
            productName = $("#pname" + productId).text();

            if(window.parent.isProductAlreadyAdded(productId) ) {
                showWarningModal("The warning '" + productName + "' was ready added");
            } else {
                window.parent.addProduct(productId, productName);
            }

        });
    }
</script>


</body>
</html>