<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Your Account Details', 'none')">
</head>

<body>

	<!-- nav bar -->
    <div th:replace="navigation :: menu"></div>

    <!-- body -->
    <div class="container-fluid">

	    <!-- form user -->
	    <div>
			<form th:action="@{/account/update}" th:object="${user}" method="post" style="max-width: 800px; margin: 0 auto;"
                  enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}"/>
				<div class="text-center">
					<h1>Your Account Details </h1>
				</div>
				<div th:if="${message != null}" class="alert alert-success pt-3" th:text="${message}" >
				</div>
			    <div class="border border-secondary rounded p-3">
			        
			        <div class="form-group row mb-3">
			            <label class="col-sm-3 col-form-label">Email</label>
			            <div class="col-sm-9">
			                <input type="email" th:field="*{email}" class="form-control" readonly>
			            </div>
			        </div>
			        
			        <div class="form-group row mb-3">
			            <label class="col-sm-3 col-form-label">First Name</label>
			            <div class="col-sm-9">
			                <input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="45">
			            </div>
			        </div>
			        
			        <div class="form-group row mb-3">
			            <label class="col-sm-3 col-form-label">Last Name</label>
			            <div class="col-sm-9">
			                <input type="text" th:field="*{lastName}" class="form-control" required minlength="2" maxlength="45">
			            </div>
			        </div>
			        
			        <div class="form-group row mb-3">
			            <label class="col-sm-3 col-form-label">Password</label>
			            <div class="col-sm-9">
                            <input type="password" th:field="*{password}" placeholder="leave blank if you don't want to change"
								   class="form-control" minlength="8" maxlength="20"
								   oninput="checkPasswordMatch(document.getElementById('confirmPassword')) ">
			            </div>
			        </div>

					<div class="form-group row mb-3">
						<label class="col-sm-3 col-form-label">Confirm Password</label>
						<div class="col-sm-9">
							<input type="password" th:id="confirmPassword" class="form-control"
								   minlength="8" maxlength="20" oninput="checkPasswordMatch(this)"
							>
						</div>
					</div>
			        
			        <div class="form-group row mb-3">
			            <label class="col-sm-3 col-form-label">Assigned Roles</label>
			            <div class="col-sm-9">
			                <span> <b>[[${user.roles}]]</b></span>
			            </div>
			        </div>

                    <div class="form-group row mb-3">
                        <label class="col-sm-3 col-form-label">Photo</label>
                        <div class="col-sm-9">
							<input type="hidden" th:field="*{photos}">
                            <input class="mb-2" type="file" id="fileImage" accept="image/png , image/jpge" name="image"/>
                            <img id="thumbnail" alt="Photos preview" th:src="@{${user.photosImagePath}}" class="img-fluid" style="max-width:120px">

                        </div>
                    </div>
			        
			        <div class="form-group row pt-4">
			            <div class="col-sm-9 offset-sm-3">
			                <input type="submit" value="Save" class="btn btn-primary">
			                <input type="button" id="buttonCancel" value="Cancel" class="btn btn-secondary">
			            </div>
			        </div>
			        
			    </div>
			</form>
			</form>

	    </div>


    <!-- footer -->
    <div th:replace="fragments :: footer"></div>
    
    
 <!-- redirect cancel btn to /users-->
<script type="text/javascript">
	moduleUrl = "[[@{/}]]";
	MAX_FILE_SIZE = 1004800;

	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidation("Password do not match!");
		} else {
			confirmPassword.setCustomValidation("");
		}
	}

</script>
<script th:src="@{/js/common_form.js}"></script>
</body>

</html>
