<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Manage Users', 'none')">
</head>

<body>

<!-- nav bar-->
<div th:replace="navigation :: menu"></div>

<!-- Body -->
<div class="container-fluid">
    <div>
        <div class="pb-3">
            <h1>Manage Users</h1>
            <a class="btn btn-primary btn-info" th:href="@{/users/new}">Create New User</a>
            <a class="btn btn-primary btn-danger" th:href="@{/users/export/csv}">Export to CSV</a>
            <a class="btn btn-primary btn-warning" th:href="@{/users/export/excel}">Export to Excel</a>
        </div>
    </div>


    <!-- search form and message-->
    <div th:replace="fragments :: search_form_and_message('/users/page/1')"></div>


    <div class="pt-2">
        <table class="table table-responsive-xl table-bordered table-striped table-hover ">
            <thead class=" gradient-bg">
            <tr>
                <!-- Call fragment -->
                <th th:replace="fragments :: column_link('/users','id', 'User Id')"></th>
                <th>Photos</th>
                <th th:replace="fragments :: column_link('/users','email', 'Email')"></th>
                <th th:replace="fragments :: column_link('/users','firstName', 'First Name')"></th>
                <th th:replace="fragments :: column_link('/users','lastName', 'Last Name')"></th>
                <th>Roles</th>
                <th th:replace="fragments :: column_link('/users','enabled', 'Enabled')"></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td>[[${user.id}]]</td>
                <td>
                    <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-dark"></span>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="max-width : 70px">
                </td>
                <td>[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <div th:replace="fragments :: status(${user.enabled} ,'user' ,'/users/' + ${user.id})"></div>
                </td>
                <td>
                    <div class="inline-container">
                        <div th:replace="fragments :: edit('user' ,'/users/edit/' + ${user.id})"></div>
                        &nbsp;
                        &nbsp;
                        <div th:replace="fragments :: elseDelete('user' ,'/users/delete/' + ${user.id}, ${user.id})"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div th:replace="fragments :: pagination('/users')"></div>

</div>

<div th:replace="modal_fragments :: confirm_modal"></div>
<div th:replace="fragments :: footer"></div>

<script th:src="@{/js/common_list.js}"></script>
<script>
    moduleUrl = "[[@{/users}]]";
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this) , 'user');
        });
    });

</script>

</body>


</html>
