<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="content">
    <form th:action="@{/settings/save_mail_templates}" method="post">

        <div class="">
            <ul class="nav nav-tabs" id="mailTemplatesTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#customerVerification"
                            type="button"
                            role="tab">Customer Verification
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#orderConfirmation" type="button"
                            role="tab">
                        Order Confirmation
                    </button>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active p-3" id="customerVerification" role="tabpanel">
                    <div th:replace=" settings/mail_templates/customer_verification :: content"></div>
                </div>
                <div class="tab-pane p-3" id="orderConfirmation" role="tabpanel">
                    <div th:replace=" settings/mail_templates/order_confirmation :: content"></div>
                </div>
            </div>

            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

        MAX_FILE_SIZE = 1004800;


</script>

<script th:src="@{/js/common_form.js}"></script>
</body>
</html>