<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Manage Categories', 'none')">
</head>

<body>

<!-- nav bar-->
<div th:replace="navigation :: menu"></div>

<!-- Body -->
<div class="container-fluid">
    <div>
        <div class="pb-3">
            <h1>Manage categories</h1>
            <a class="btn btn-primary btn-info" th:href="@{/categories/new}">Create New Category</a>
<!--            <a class="btn btn-primary btn-danger" th:href="@{/categories/export/csv}">Export to CSV</a>-->
        </div>
    </div>


    <!-- search form and message-->
    <div th:replace="fragments :: search_form_and_message('/categories/page/1')"></div>


    <!-- Begin table data-->
    <div class="pt-2">
        <table class="table table-responsive-xl table-bordered table-striped table-hover ">
            <thead class=" gradient-bg">
            <tr>
                <!-- Call fragment -->
                <th>ID</th>
                <th>Category Image</th>
                <th>
                    <a class="text-dark" th:href="@{'/categories?sortDir=' + ${reverseSortDir}}">Category Name</a>
                    <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                </th>
                <th>Alias</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td>[[${category.id}]]</td>
                <td>
                    <image th:src="@{${category.imagePath}}" style="max-width : 80px"> </image>
                </td>
                <td>[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>
                <td>
                    <div th:replace="fragments :: status(${category.enabled} ,'category' ,'/categories/' + ${category.id})"></div>
                </td>
                <td>
                    <div class="inline-container">
                        <div th:replace="fragments :: edit('category' ,'/categories/edit/' + ${category.id})"></div>
                        &nbsp;
                        &nbsp;
                        <div th:replace="fragments :: deleteCategory"></div>
                    </div>

                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <!-- End table data-->


    <!--pagination begin-->
    <div th:replace="fragments :: pagination('/categories')"></div>
    <!--pagination END-->


</div>
<div th:replace="modal_fragments :: confirm_modal"></div>
<div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleUrl = "[[@{/categories}]]";
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this) , 'category');
        });
    });

</script>
</body>


</html>
