<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="content">

    <div>
        <p>
            Use the page to manage countries which will be display in the customer registration form.
            Click load Country list first.
        </p>
    </div>
    <div>
        <input type="button" value="Load Country List" id="buttonLoadCountries" class="btn btn-primary mb-3" />
    </div>
    <div>
        <select class="form-control " style="height : 300px" size="3" id="dropDownCountries"/>
        </select>
    </div>
    <form id="formCountry">
        <div class="form-group row">
            <label class="col-form-label" id="labelCountryName">Country Name</label>
            <div class="col-md">
                <input type="text" class="form-control" id="fieldCountryName" required maxlength="45" minlength="3">
            </div>
            <label class="col-form-label">Code</label>
            <div class="col-md">
                <input type="text" class="form-control" id="fieldCountryCode" required maxlength="45" minlength="3">
            </div>
            <div class="col-lg-4">
                <input type="button" value="Add" id="buttonAddCountry" class="btn btn-secondary me-2">
                <input type="button" value="Update" id="buttonUpdateCountry" class="btn btn-secondary me-2" disabled="disabled">
                <input type="button" value="Delete" id="buttonDeleteCountry" class="btn btn-secondary" disabled="disabled">
            </div>
        </div>
    </form>

</div>

</body>
</html>