<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="content">
    <form th:action="@{/settings/save_general}" method="post" enctype="multipart/form-data">

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Site name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="SITE_NAME" th:value="${SITE_NAME}" required>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Copyright</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="COPYRIGHT" th:value="${COPYRIGHT}" required>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Site Logo</label>
            <div class="col-sm-9">
                <img id="thumbnail" th:src="@{${SITE_LOGO}}" alt="Site logo thumbnail" class="img-fluid" style="max-width:120px">
                <input class="mb-2" type="file" id="fileImage" accept="image/png , image/jpeg"
                       name="fileImage" />

            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Currency Type </label>
            <div class="col-sm-9">
                <select name="CURRENCY_ID" class="form-control">
                <th:block th:each="currency : ${listCurrencies}">
                    <option th:value="${currency.id}" th:selected="(${currency.id} == ${CURRENCY_ID})">[[${currency}]]</option>
                </th:block>
                </select>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Currency Symbol Position </label>
            <div class="col-sm-9">
                <select name="CURRENCY_SYMBOL_POSITION" class="form-control">
                    <option value="Before price" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'Before price')">Before price</option>
                    <option value="After price" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'After price')">After price</option>
                </select>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label"> Thousand Point Type </label>
            <div class="col-sm-9">
                <select name="THOUSAND_POINT_TYPE" class="form-control">
                    <option value="POINT" th:selected="(${THOUSAND_POINT_TYPE} == 'POINT')">Point (.)</option>
                    <option value="COMMA" th:selected="(${THOUSAND_POINT_TYPE} == 'COMMA')">Comma (,)</option>
                </select>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Decimal point type </label>
            <div class="col-sm-9">
                <select name="DECIMAL_POINT_TYPE" class="form-control">
                    <option value="POINT" th:selected="(${DECIMAL_POINT_TYPE} == 'POINT')">Point (.)</option>
                    <option value="COMMA" th:selected="(${DECIMAL_POINT_TYPE} == 'COMMA')">Comma (,)</option>
                </select>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Decimal digits </label>
            <div class="col-sm-9">
                <select name="DECIMAL_DIGITS" class="form-control">
                    <option value="0" th:selected="(${DECIMAL_DIGITS} == 0)">0</option>
                    <option value="1" th:selected="(${DECIMAL_DIGITS} == 1)">1</option>
                    <option value="2" th:selected="(${DECIMAL_DIGITS} == 2)">2</option>
                    <option value="3" th:selected="(${DECIMAL_DIGITS} == 3)">3</option>
                    <option value="4" th:selected="(${DECIMAL_DIGITS} == 4)">4</option>
                </select>
            </div>
        </div>

        <div class="col-sm-9 offset-sm-3">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </form>
</div>
<script type="text/javascript">

        MAX_FILE_SIZE = 1004800;

    </script>

<script th:src="@{/js/common_form.js}"></script>
</body>
</html>