<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="content">

    <div>
        <p>
            Use the page to manage States/provinces which will be chosen by visitors in the customer registration form.
            Click load Country list first.
        </p>
    </div>
    <div>
        <input type="button" value="Load Country List" id="buttonLoadCountriesForStates" class="btn btn-primary mb-3" />
    </div>

    <div class="form-group row">
       <label class="col-sm-3 col-form-label">Selected Country</label>
        <div class="col-sm-9">
            <select class="form-control m-2" id="dropDownCountryForStates"></select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">All states/provinces</label>
        <div class="col-sm-9">
            <select class="form-control m-2" id="dropDownStates" size="3" style="height : 300px"></select>
        </div>
    </div>

    <form id="formState">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label mt-2" id="labelStateName">States/provinces name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control mt-2" id="fieldStateName" required minlength="3" maxlength="45">
            </div>
            <div class="col-sm-4 mt-2">
                <input type="button" value="Add" id="buttonAddState" class="btn btn-secondary me-2">
                <input type="button" value="Update" id="buttonUpdateState" class="btn btn-secondary me-2" disabled="disabled">
                <input type="button" value="Delete" id="buttonDeleteState" class="btn btn-secondary" disabled="disabled">
            </div>
        </div>
    </form>

</div>

</body>
</html>