<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="page_head(title , remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/font/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/common.js}"></script>

</head>
<body>



<!--fragment table column filter-->
<th th:fragment="column_link( url, fieldName , columnLabel)">
    <a class="text-dark"
       th:href="@{${url} + '/page/' + ${currentPage} +'?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}} ">[[${columnLabel}]]</a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
        </span>
</th>

<div th:fragment="footer" class="text-center m-3">
    <p>EShop Control Panel - Copyright &copy; EShop</p>
</div>

<div th:fragment="status(enabled , entityName, entityUrl)">
    <a th:if="${enabled == true}" class="fas fa-check-circle fa-2x icon-green"
       th:href="@{${entityUrl} + '/enabled/false'}" th:title="'Disabled ' + ${entityName}"></a>

    <a th:if="${enabled != true}" class="fas fa-circle fa-2x icon-dark"
       th:href="@{${entityUrl} + '/enabled/true'}" th:title="'Enabled ' + ${entityName}"></a>
</div>

<div th:fragment="edit(entityName , entityUrl)">
    <a class="fas fa-edit fa-2x icon-orange"
       th:href="@{${entityUrl}}" th:title="'Edit the ' + ${entityName}">
    </a>
</div>

<div th:fragment="deleteCategory">
    <th:block th:if="${category.hasChildren == false}">
        <a class="fas fa-trash fa-2x icon-silver link-delete"
           th:href="@{'/categories/delete/' + ${category.id}}"
           title="Delete the category" th:entityId="${category.id}"
        >
        </a>
    </th:block>
</div>

<div th:fragment="elseDelete(entityName, entityUrl, id)">
    <a class="fas fa-trash fa-2x icon-silver link-delete"
       th:href="@{${entityUrl}}" th:title="'Delete the ' +  ${entityName}"
       th:entityId="${id}">
    </a>
</div>


<div th:fragment="search_form_and_message(moduleURL)">
    <div th:if="${message != null}" class="alert alert-success pt-3" th:text="${message}" >
    </div>
    <form th:action="@{${moduleURL}}" class="form-inline d-flex flex-wrap">
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <label class="my-1 mr-2"> <b>Filters &nbsp;&nbsp; </b></label>
        <input type="search" name="keyWord" th:value="${keyWord}" class="form-control mb-2 mr-sm-2"
               style="max-width:300px" required/>
        &nbsp;&nbsp;
        <input type="submit" value="Search" class="btn btn-primary mb-2 mr-sm-2"/>
        &nbsp;&nbsp;
        <input type="button" value="Clear" class="btn btn-secondary mb-2" onclick="clearFilter()"/>
    </form>
</div>

<div th:fragment="pagination(pageName)">
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing Items #[[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No Items found</span>
    </div>

    <div th:if="${totalItems > 0}">
        <nav>
            <ul class="pagination justify-content-center">
                <!-- Link to the first page -->
                <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link"
                       th:href="@{${pageName} + '/page/1?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''} }">First</a>
                </li>
                <!-- Link to the previous page -->
                <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link"
                       th:href="@{${pageName} +'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Previous</a>
                </li>
                <!-- Link to the first page if current page is greater than 2 -->
                <li th:if="${currentPage > 2}" class="page-item">
                    <a class="page-link"
                       th:href="@{${pageName} +'/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">1</a>
                </li>
                <!-- Dots before the current page -->
                <li th:if="${currentPage > 3}" class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                <!-- Links for the current, previous, and next page -->
                <li th:each="i : ${#numbers.sequence(currentPage - 1 > 1 ? currentPage - 1 : 1, currentPage + 1 < totalPages ? currentPage + 1 : totalPages)}"
                    th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
                    <a class="page-link"
                       th:href="@{${pageName} +'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">[[${i}]]</a>
                </li>
                <!-- Dots after the current page -->
                <li th:if="${currentPage < totalPages - 2}" class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                <!-- Link to the last page if current page is less than total pages minus 1 -->
                <li th:if="${currentPage < totalPages - 1}" class="page-item">
                    <a class="page-link"
                       th:href="@{${pageName} +'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">[[${totalPages}]]</a>
                </li>
                <!-- Link to the next page -->
                <li th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link"
                       th:href="@{${pageName} +'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Next</a>
                </li>
                <!-- Link to the last page -->
                <li th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link"
                       th:href="@{${pageName} +'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:fragment="format_currency(amount)">
    <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" >[[${CURRENCY_SYMBOL}]]</span>
    [[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
    <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" >[[${CURRENCY_SYMBOL}]]</span>
</div>

<div th:fragment="format_time(dateTime)">
    <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
</div>

</body>
</html>