<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Manage Product', 'none')">
</head>

<body>

<!-- nav bar-->
<div th:replace="navigation :: menu"></div>
<div>
    <!-- Body -->
    <div class="container-fluid">
        <div>
            <div class="pb-3">
                <h1>Manage products</h1>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="btn btn-primary btn-info" th:href="@{/products/new}">Create New product</a>
                    <!--            <a class="btn btn-primary btn-danger" th:href="@{/categories/export/csv}">Export to CSV</a>-->
                </th:block>

            </div>
        </div>

        <!-- search form and message-->
        <div th:replace="fragments :: search_form_and_message('/products/page/1')"></div>

        <!-- Begin table data-->

        <div class="pt-2">
            <table class="table table-responsive-xl table-bordered table-striped table-hover ">
                <thead class=" gradient-bg">
                <tr>
                    <!-- Call fragment -->
                    <th th:replace="fragments :: column_link('/products','id', 'Product Id')"></th>
                    <th>Main Image</th>
                    <th th:replace="fragments :: column_link('/products','name', 'Product name')"></th>
                    </th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        <th th:replace="fragments :: column_link('/products','enabled', 'Enabled')"></th>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${listProducts}">
                    <td>[[${product.id}]]</td>
                    <td>
                        <img th:src="@{${product.mainImagePath}}" style="max-width : 80px">
                    </td>
                    <td>
                        <a class="link-detail linkProductDetail" th:href="@{'/products/detail/' + ${product.id}}"
                           title="View details for this product">
                            [[${product.shortName}]]
                        </a>
                    </td>
                    <td>[[${product.brand.name}]]</td>
                    <td>[[${product.category.name}]]</td>


                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        <td>
                            <div th:replace="fragments :: status(${product.enabled} ,'product' ,'/products/' + ${product.id})"></div>
                        </td>
                    </th:block>

                    <td>
                        <div class="inline-container">
                            <a class="linkProductDetail fas fa-file-alt fa-2x icon-green"
                               th:href="@{'/products/detail/' + ${product.id}}"
                               title="View "></a>
                            &nbsp;
                            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                                &nbsp;
                                <div th:replace="fragments :: edit('product' ,'/products/edit/' + ${product.id})"></div>
                            </th:block>

                            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                                &nbsp;
                                <div th:replace="fragments :: elseDelete('product' ,'/products/delete/' + ${product.id}, ${product.id})"></div>
                            </th:block>

                        </div>

                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <!-- End table data-->

        <!--    pagination begin-->
        <div th:replace="fragments :: pagination('/products')"></div>
        <!--    pagination END-->
    </div>
    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl bg-white">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div th:replace="modal_fragments :: confirm_modal"></div>
    <div th:replace="fragments :: footer"></div>

    <script th:src="@{/js/common_list.js}"></script>
</div>
<script type="text/javascript">
    moduleUrl = "[[@{/products}]]";
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this) , 'product');
        });
        viewDetailProduct();
    });

    function viewDetailProduct() {
        $(".linkProductDetail").on("click", function(e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#detailModal").modal('show').find(".modal-dialog").load(linkDetailURL);
        });
    }

</script>
</body>


</html>
