<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <head th:replace="fragments :: page_head(${pageTitle}, 'tag')"></head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>

<!-- nav bar -->
<div th:replace="navigation :: menu"></div>

<!-- body -->
<div class="container-fluid">

    <div>
        <h1>Manage Product | [[${pageTitle}]] </h1>
    </div>


    <!-- form user -->
    <div>
        <form th:action="@{/products/save}" th:object="${product}" method="post"
              enctype="multipart/form-data" onsubmit="return checkUnique(this)">
            <input type="hidden" th:field="*{id}"/>
            <input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}"/>

            <div >
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" >Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab" >Images</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" >Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" type="button" role="tab" >Shipping</button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="overview" role="tabpanel" >
                        <div th:replace="products/product_overview :: content"></div>
                    </div>
                    <div class="tab-pane p-3" id="description" role="tabpanel" >
                        <th:block th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
                            <th:block th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
                                <div th:replace="products/product_description_read_only :: content"></div>
                            </th:block>
                        </th:block>
                        <th:block th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
                            <div th:replace="products/product_description :: content"></div>
                        </th:block>
                    </div>
                    <div class="tab-pane" id="images" role="tabpanel" >
                        <th:block th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
                            <div th:replace="products/product_images :: content"></div>
                        </th:block>>
                    </div>
                    <div class="tab-pane" id="details" role="tabpanel" >
                        <th:block th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
                            <div th:replace="products/product_details :: content"></div>

                            <div>
                                <input type="button" class="btn btn-secondary" value="Add More Details"
                                 onclick="addNextDetailSection()" />
                            </div>
                        </th:block>
                    </div>
                    <div class="tab-pane p-3" id="shipping" role="tabpanel" >
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <div th:replace="products/product_shipping :: content"></div>
                        </th:block>
                    </div>
                </div>

            </div>
            <div>
                <div class="form-group row pt-4">
                    <div class="col-sm-9 offset-sm-3">
                        <input type="submit" value="Save" class="btn btn-primary">
                        <input type="button" id="buttonCancel" value="Cancel" class="btn btn-secondary">
                    </div>
                </div>
            </div>
        </form>

    </div>

    <!-- Model dialog duplicated -->
    <div th:replace="modal_fragments :: modal_dialog"></div>

    <!-- footer -->
    <div th:replace="fragments :: footer"></div>

    <!-- -->
    <script type="text/javascript">

        MAX_FILE_SIZE = 1004800;

        moduleUrl = "[[@{/products}]]";
        brandModuleURL = "[[@{/brands}]]";
        urlCheck = "[[@{/products/check_unique}]]";

    </script>


    <script th:src="@{/js/common_form.js}"></script>
    <script th:src="@{/js/product_form_overview.js}"></script>
    <script th:src="@{/js/product_form_images.js}"></script>
    <script th:src="@{/js/product_form_details.js}"></script>

</body>

</html>
