<div class="modal-header">
    <h3 class="modal-title">Customer detail</h3>
    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
</div>

<div>

    <div class="">
        <div class=" p-3" >
            <div class="form-group row mb-3">
                <label for="id" class="col-sm-3 col-form-label">ID</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.id}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="name" class="col-sm-3 col-form-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.fullName}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.email}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="phoneNumber" class="col-sm-3 col-form-label">Phone Number </label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.phoneNumber}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="enabled" class="col-sm-3 col-form-label">Enabled</label>
                <div class="col-sm-9">
                    <input type="checkbox" th:checked="${customer.enabled}" disabled="disabled" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="createdTime" class="col-sm-3 col-form-label">Created Time</label>
                <div class="col-sm-9">
                    <span th:text="${#dates.format(customer.createdTime , 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="addressLine1" class="col-sm-3 col-form-label">Address Line 1</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.addressLine1}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="addressLine2" class="col-sm-3 col-form-label">Address Line 2</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.addressLine2}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="city" class="col-sm-3 col-form-label">City</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.city}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="state" class="col-sm-3 col-form-label">State/Province</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.state}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="country" class="col-sm-3 col-form-label">Country</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.country.name}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="postalCode" class="col-sm-3 col-form-label">Postal Code</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${customer.postalCode}" class="form-control" readonly >
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
</div>