<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Manage Brands', 'none')">
</head>

<body>

<!-- nav bar-->
<div th:replace="navigation :: menu"></div>

<!-- Body -->
<div class="container-fluid">
    <div>
        <div class="pb-3">
            <h1>Manage Brands</h1>
            <a class="btn btn-primary btn-info" th:href="@{/brands/new}">Create New Brand</a>
            <!--            <a class="btn btn-primary btn-danger" th:href="@{/categories/export/csv}">Export to CSV</a>-->
        </div>
    </div>

    <!-- search form and message-->
    <div th:replace="fragments :: search_form_and_message('/brands/page/1')"></div>

    <!-- Begin table data-->

    <div class="pt-2">
        <table class="table table-responsive-xl table-bordered table-striped table-hover ">
            <thead class=" gradient-bg">
            <tr>
                <!-- Call fragment -->
                <th>ID</th>
                <th>Logo</th>
                <th>
                    <a class="text-dark"
                       th:href="@{'/brands/page/' + ${currentPage} +'?sortField=' + ${sortField} +'&sortDir=' + ${reverseSortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}} ">Name</a>
                    <span th:class="${reverseSortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"/>
                </th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="brand : ${listBrands}">
                <td>[[${brand.id}]]</td>
                <td>
                    <img th:src="@{${brand.logoPath}}" style="max-width : 80px">
                </td>
                <td>[[${brand.name}]]</td>
                <td>
                    <th:block th:each="cat : ${brand.categories}">
                        <span class="custom-badge " th:text="${cat.name}"></span>
                    </th:block>
                </td>
                <td>
                    <div class="inline-container">
                        <div th:replace="fragments :: edit('brand' ,'/brands/edit/' + ${brand.id})"></div>
                        &nbsp;
                        &nbsp;
                        <div th:replace="fragments :: elseDelete('brand' ,'/brands/delete/' + ${brand.id}, ${brand.id})"></div>
                    </div>

                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <!-- End table data-->


    <!--  pagination begin-->

    <div th:replace="fragments :: pagination('/brands')"></div>

    <!--pagination END-->


</div>
<div th:replace="modal_fragments :: confirm_modal"></div>
<div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleUrl = "[[@{/brands}]]";
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this) , 'brand');
        });
    });


</script>
</body>


</html>
