<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Manage Shipping Rate', 'none')">
</head>

<body>
<!-- nav bar-->
<div th:replace="navigation :: menu"></div>

<!-- Body -->
<div class="container-fluid">
    <div>
        <div class="pb-3">
            <h1>Manage Shipping Rate</h1>
            <a class="btn btn-primary btn-info" th:href="@{/shipping_rates/new}">Create Shipping Rate</a>
            <!--            <a class="btn btn-primary btn-danger" th:href="@{/shipping_rates/export/csv}">Export to CSV</a>-->
            <!--            <a class="btn btn-primary btn-warning" th:href="@{/shipping_rates/export/excel}">Export to Excel</a>-->
        </div>
    </div>


    <!-- search form and message-->
    <div th:replace="fragments :: search_form_and_message('/shipping_rates/page/1')"></div>


    <div class="pt-2">
        <table class="table table-responsive-xl table-bordered table-striped table-hover ">
            <thead class=" gradient-bg">
            <tr>
                <!-- Call fragment -->
                <th th:replace="fragments :: column_link('/shipping_rates','id', 'Id')"></th>
                <th th:replace="fragments :: column_link('/shipping_rates','country', 'Country')"></th>
                <th th:replace="fragments :: column_link('/shipping_rates','state', 'State')"></th>
                <th th:replace="fragments :: column_link('/shipping_rates','rate', 'Rate')"></th>
                <th th:replace="fragments :: column_link('/shipping_rates','days', 'Days')"></th>
                <th th:replace="fragments :: column_link('/shipping_rates','codSupported', 'Cod Supporter')"></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rate : ${shippingRates}">
                <td>[[${rate.id}]]</td>
                <td>[[${rate.country.name}]]</td>
                <td>[[${rate.state}]]</td>
                <td>[[${rate.rate}]]</td>
                <td>[[${rate.days}]]</td>
                <td>
                    <div th:replace="shipping_rates/shipping_rates_fragments :: cod_support"></div>
                </td>
                <td>
                    <div class="inline-container">
                        <div th:replace="fragments :: edit('rate' ,'/shipping_rates/edit/' + ${rate.id})"></div>
                        &nbsp;
                        &nbsp;
                        <div th:replace="fragments :: elseDelete('rate' ,'/shipping_rates/delete/' + ${rate.id}, ${rate.id})"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div th:replace="fragments :: pagination('/shipping_rates')"></div>

</div>

<div th:replace="modal_fragments :: confirm_modal"></div>
<div th:replace="fragments :: footer"></div>

<script th:src="@{/js/common_list.js}"></script>
<script>
    moduleUrl = "[[@{/shipping_rates}]]";
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this) , 'Shipping rate');
        });
    });

</script>

</body>

</html>
